---
import type { Project } from '../types/payload-types';
import { serialize } from '../utils/slate-text.converter';
import Media from './Media.astro';
import Chip from './Chip.astro';

interface Props {
    project: Project;
}

const { project } = Astro.props;
const media = typeof project.media === 'object' ? project.media : null;
---

<div class="card-body">
    <div class="card-content">
        <div class="project-image">
            {media && <Media media={media} />}
        </div>
        <div class="project-info">
            <a href={project.projectUrl} target="_blank">
                <h2>{project.title}</h2>
            </a>
            <div class="company-name">
                <a href={project.copmanyUrl} target="_blank">
                    {project.copmanyName}
                </a>
            </div>
            <div set:html={serialize(project.description)} />
            <div class="project-tags">
                {project.technologies.map((tag) => <Chip label={tag} />)}
            </div>
        </div>
    </div>
</div>

<style
    define:vars={{
        backgroundColor: project.backgroundColor,
        color: project.textColor,
    }}
>
    .card-body {
        background-color: var(--backgroundColor);
        color: var(--color);
        box-sizing: border-box;
        padding: 30px;
        border-radius: 50px;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
        height: var(--cardHeight);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
    }

    a {
        text-decoration: none;
        color: var(--color);
    }

    .card-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .company-name {
        font-size: var(--small);
    }

    .project-tags {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    @media (max-width: 992px) {
        .card-content {
            grid-template-columns: 1fr;
        }
    }
</style>
